@import "../util";
@import "../styles/SelectedTagList";


section#favorite-sessions {
  @include SelectedTagList;
  @include card;

  ol.favorite-sessions {
    padding-bottom: 0.25rem;
    border-bottom: 1px solid #aaa;

    margin-top: 3rem;

    &:first-of-type {
      margin-top: 4rem;
    }
  }
}
