@import "../util";


section#news-letter-settings {
  @include card;

  label.news-letter-settings {
    display: inline-block;
    width: 100%;

    span.news-letter-settings {
      display: inline-block;
      width: 30%;
    }

    select.news-letter-settings {
      width: 40%;
    }

    &:first-of-type {
      margin-top: 1rem;
    }
  }
}
