html {
  font-size: 16px;
}

html, body {
  margin: 0;
  width: 100vw;
}

div#landing-page {
  // basic layout
  max-width: 70vw;
  margin: auto;
  padding-top: 10em;
  padding-bottom: 10em;
  flex-direction: column;

  // align horizontal center
  display: flex;
  align-items: center;
}

@import "logo";
@import "selected-tag-list";
@import "search-bar";
